Parsing issues

I have found what I think is a couple of bugs.

1)
Our LDAP-server, DirX, puts a space after each comma in the dn value.
That seems to be ok according to [spec](https://datatracker.ietf.org/doc/html/rfc2253#section-4)

However, the "ChangeModDn" class does not seem to handle it. It throw and ArgumentException with the message "The distinguished name is invalid".

Changing the DistinguishedNameRegex from `(?<=[^\\]),(?=\w+=)` to `(?<=[^\\]),\s*(?=\w+=)` seems to do the trick.

**Update:** After reading up on it a bit more, a comma could have both leading and trailing whitespaces so the regex should probably be `(?<=[^\\])\s*,\s*(?=\w+=)`

2)
Our ldifs can have binary data. This seems to be a problem for the LdifReader.
Example:
We get records having properties looking like:
```
delete: userCertificate
userCertificate;binary:: <BASE64 Encoded stuff>
```
That will reusult in a LdifReaderException with the message "Inconsistent changetype modify entry,"
I think, but I'm not sure, that the binary options is according to spec.

I have managed to create some kind hack to fix it, but it's not production ready...


Hi,
Thanks for reporting this and providing good detail.

Please allow me some time to review the rfc's and get back.

Hi,
I have added support for an `AttributeDescription` containing options as per [RFC2849](https://datatracker.ietf.org/doc/html/rfc2849) solving your second finding.

However, I am still deciding how to handle parsing the distinguished name for your first finding.

Your first attempt at modifying the regex was actually correct, the second is not. Adding the `\s*` in front of the command breaks the positive lookbehind assertion that attempts to locate the first unescaped comma like:
```
cn=Jensen\, Paula, ou=Product Development, dc=airius, dc=com
```

That said, [RFC2253](https://datatracker.ietf.org/doc/html/rfc2253) sufficiently convinces me that the hackish approach I used to parse the rdn is not sufficient:

* The positive lookahead assertion (`(?=\w+=)`) is also missing optional spaces.
* I am not clear on how to interpret some aspects of [RFC2253](https://datatracker.ietf.org/doc/html/rfc2253):
  * Multi-valued RDNs.
  * Support for [RFC1779](https://datatracker.ietf.org/doc/html/rfc1779):
    * Indicating support for additional separators (`<separator> ::=  "," | ";"`).
    * Stating the syntax can be supported but must not be returned, indicating the entire distinguished name would need to be parsed and rewritten.

Thus, I need to either update the hackish regex and ignore [RFC2253](https://datatracker.ietf.org/doc/html/rfc2253) or implement full parsing of distinguished names.

To by honest, my regex knowledge stinks so I won't be of much help...

On the practical side, we don't allow any dn components to have trailing spaces, so the first regex I mention works for me.
I forked your repo and made some fixex that handles "my problems", so you don't have to feel pressured to fix it for my sake.
My fixes are not pretty, but it kinda works.

Anyways, thanks for the help...

Hi,
After some thought, I realized the regex validation in the change-moddn record was ill-conceived and did not serve a valid purpose.

I've uploaded a new version with the attribute type option fixes and a change-moddn record type that no longer tries to validate the syntax of the input.

Thanks a lot for taking the time to file an issue, I really appreciate it.

Hi again.
I don't know if I missing something, but i think there still is a difference between the original input from what is produced by Dump().
For example, the input:
```
add: userCertificate
userCertificate;binary:: QSBDaHVuayBvZiBkYXRh
```
when dumped, produces:

```
add: userCertificate
userCertificate:: QSBDaHVuayBvZiBkYXRh
```


Hi,
I did not realize those options were required, I understood they were only optional to assist in consuming the ldif file. I figured the dsa would necessarily handle the import while adhering to the schema constraints.

Does your dsa (DirX) fail to import without those options?

I have not tried to import it to DirX yet.
In our case it will probably not be a big issue since that's not really the flow of the data.
We will, genarlly, take the ldif-files produced by DirX, analyse the data and pass it to other systems in some kind of integration scenario.
We will probably not be handling what ever binary data there is.

I just wanted to mention that the output (Dump()) doesn't fully match the input...
So you are free to close the issue if you want.

Hi,
I am going to leave this open for now.

I'll add support for reading and writing controls and options. The goal is that reading an LDIF record should be identically dumped with the exception of comments (excluded) and attribute sorting (based on a fixed algorithm).

Hi again.
This is purly information, not a bug report, since I don't know it is standard behaviour:

I noticed today that for changetype modify, depending on how we configure our server, the LDIF file generated can hold a complete dump of the object, followed by the actual changed attributes. 
It's like a combination of changetype add and modify, in some strange way.
The file might look something like:
```
version: 1
dn: The DN
changetype: modify
cn: John Johnson
sn: Johnson
givenName: John
# Every other attribute, followed by the mod-specs
add: mail
mail: test@test.com
-
delete: description
-
``` 
This will result in an LdifReaderException with the message "Invalid mod-spec in change-modify entry".

As said, I don't know if this format is according to spec...
